@import "tailwindcss";
@import "tw-animate-css";

@import "./themes/bubblegum.css";
@import "./themes/darkmatter.css";
@import "./themes/doom64.css";
@import "./themes/notebook.css";
@import "./themes/kodama.css";
@import "./themes/starrynight.css";
@import "./themes/mono.css";
@import "./themes/neobrutalism.css";
@import "./shadcn.theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.ubi-icon {
  .a {
    fill: #fff;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7;
  }
  .b {
    fill: #fff;
  }
  .c {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7;
  }
  .d {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }
  .e {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5;
  }
}
